<a href="https://colab.research.google.com/github/keshavkarthik05/Machine-Learning/blob/main/LogisticRegression/Lab2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
df = pd.read_stata("https://stats.idre.ucla.edu/stat/stata/dae/binary.dta")
print(df.head())

   admit    gre   gpa  rank
0    0.0  380.0  3.61   3.0
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
4    0.0  520.0  2.93   4.0

In [4]:
df.isnull().sum()

admit    0
gre      0
gpa      0
rank     0
dtype: int64

In [5]:
print(df.info())
print(df.describe())
print(df['admit'].value_counts())
print(df['rank'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   admit   400 non-null    float32
 1   gre     400 non-null    float32
 2   gpa     400 non-null    float32
 3   rank    400 non-null    float32
dtypes: float32(4)
memory usage: 6.4 KB
None
            admit         gre         gpa        rank
count  400.000000  400.000000  400.000000  400.000000
mean     0.317500  587.700012    3.389900    2.485000
std      0.466087  115.516663    0.380567    0.944462
min      0.000000  220.000000    2.260000    1.000000
25%      0.000000  520.000000    3.130000    2.000000
50%      0.000000  580.000000    3.395000    2.000000
75%      1.000000  660.000000    3.670000    3.000000
max      1.000000  800.000000    4.000000    4.000000
admit
0.0    273
1.0    127
Name: count, dtype: int64
rank
2.0    151
3.0    121
4.0     67
1.0     61
Name: count, dtype: int64

In [15]:
import statsmodels.api as sm
X = df[['gre', 'gpa']]
X = sm.add_constant(X)
y = df['admit']

model = sm.Logit(y, X)
result = model.fit()

print(result.summary())

Optimization terminated successfully.
         Current function value: 0.600430
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  400
Model:                          Logit   Df Residuals:                      397
Method:                           MLE   Df Model:                            2
Date:                Tue, 22 Jul 2025   Pseudo R-squ.:                 0.03927
Time:                        16:18:24   Log-Likelihood:                -240.17
converged:                       True   LL-Null:                       -249.99
Covariance Type:            nonrobust   LLR p-value:                 5.456e-05
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.9494      1.075     -4.604      0.000      -7.057      -2.842
gre            0.0027      0.001      2.544      0.011       0.001       0.005
gpa            0.7547      0.320      2.361      0.018       0.128       1.381
==============================================================================